.list {
  display: grid;
  grid-template-areas: "a";
  width: 1200px;
  height:max-content;
  color: white;
}
.id{
  grid-area: a;
  justify-self:self-start;
  margin-left:100px
}
.name{
  margin-left: 200px;
  grid-area: a;
  justify-self:start;
}
.email {
  margin-left: 450px;
  grid-area: a;
  justify-self:start;
}

.address {
  margin-left: 750px;
  grid-area: a;
  justify-self:start;
}
.website{
  margin-left: 950px;
  grid-area: a;
  justify-self:start;
}
.buttons {
  margin-left: 1100px;
  grid-area: a;
  justify-self:start;
}
